In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
n0523_df = pd.read_csv('./data/n0523.csv')
n0523 = n0523_df.values
print(type(n0523))

def rand_jitter(arr):
    stdev = .01 * (max(arr) - min(arr))
    return arr + np.random.randn(len(arr)) * stdev

n0523_jitter = rand_jitter(n0523)

<class 'numpy.ndarray'>

In [ ]:
plt.scatter(list(range(0, len(n0523))), n0523)
plt.xlabel('Time (s)')
plt.ylabel('Number of Fireflies Flashing in Frame')
plt.show()

In [4]:
n0523_df.describe()

                   0
count  462594.000000
mean        0.237599
std         0.827505
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        16.000000